#wrapper {
  width: 800px;
  margin: 0 auto;
  border-left:200px;
}
.classcification {
  font-size: 30px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 30px;
  color: rgb(73, 73, 73);
  padding: 0px;
}
.item-root {
  background-color: rgb(227, 243, 240);
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  -moz-box-shadow:4px 10px 14px #333333; 
  -webkit-box-shadow:4px 10px 14px #333333; 
  box-shadow:4px 10px 14px #333333;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.cover-link {
  width: 130px;
  max-height: 400px;
  margin-right: 15px;
  margin-bottom: -4px;
  background: none;
}
.cover {
  width: 130px;
  max-height: 400px;
}
.detail {
  min-width: 0px;
  flex: 1 1 0%;
}
.detail .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
  top: -1px;
  overflow: visible;
  margin-top: 3px;
  margin-bottom: 10px;
}
.detail .info{
  font-size: 15px;
  position: relative;
  overflow: visible;
  margin-bottom: 7px;
}
a{

  text-decoration:none;
  color: rgb(13, 20, 78);
}
