ul {
  list-style-type: none;
  margin: 0;
  padding: 1;
  overflow: hidden;
  background: -moz-linear-gradient(left,blue, rgb(51, 184, 236));
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(113, 152, 235);
}

.button {
    float:right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
}
