{% extends "base.html" %}

{% block context %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="/actor/?actor_name" method="get">
{% csrf_token %}
	<p>{{ actor.actor_name }}</p>
	<p>{{ actor.actor_gender }}</p>
	<p>{{ actor.actor_intro }}</p>
    
    {% for post in movie %}
    <div>
        </br><a href="/movie/?movie_name={{post.movie_name}}">{{post.movie_name}}</a>
    <div>
    {% empty %}
    <div class="no-post">
        没有搜索到符合条件的文章
    </div>
    {% endfor %}
    
</form>

{% endblock context %}
