<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>GKDmovies</title>
    {% load staticfiles %}
    <link rel="stylesheet" media="screen" type="text/css" href="{% static 'css/home.css' %}">
</head>
<body>
    <!--顶部导航栏-->
    <header>
        <!--顶部左侧导航-->
        <ul class="left-ul">
            <li><a href="/">首页</a></li>
            <li><a href="/movie_all">电影</a></li>
            <li><a href="/actor_all">演员</a></li>
            <li><a href="/director_all">导演</a></li>
        </ul>
        <!--右侧导航-->
        <ul class="right-ul">
            <li><a href="#">下载豆瓣客户端</a></li>
            <li>{% block search %}
                搜索框
            {% endblock search %}</li>
        </ul>
    </header>
    {% block context %}
    {% endblock context %}
</body>
</html>