<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>GKDmovies</title>
    {% load staticfiles %}
        <link rel="stylesheet" media="screen" type="text/css" href="{% static 'css/home.css' %}">
    {% block css %}
    {% endblock css %}
    </head>
<body>
    <!--顶部导航栏-->
    <header>
        <!--顶部左侧导航-->
        <ul class="left-ul">
            <li><a href="/">首页</a></li>
            <li><a href="/movie_all">电影</a></li>
            <li><a href="/person_all">演员/导演</a></li>
        </ul>
        <!--右侧导航-->
        <ul class="right-ul">
            {% if request.session.login %}
                <li><a href="/user">{{request.session.user_name}}</a></li>
                <li><a href="/logout">logout</a></li>   
            {% else %}
                <li><a href="/login">login</a></li>
                <li><a href="/register">register</a></li>        
            {% endif %}       
            <li><a href="#">下载豆瓣客户端</a></li>
            <li>{% block search %}
                
            {% endblock search %}</li>
        </ul>
    </header>
    {% block context %}
    {% endblock context %}
</body>
</html>