<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>GKD电影</title>
        <meta name="author" content="hwh">
        <style type="text/css">
            body {background-color: red}
            p {color:blue}
        </style>
        <link rel="stylesheet" href="wing.css" type="text/css" />
    </head>
    <body>
        <ul>
            <li><a href="#home">主页</a></li>
            <li><a href="#news">电影</a></li>
            <li><a href="#contact">演员</a></li>
            <li><a href="#about">导演</a></li>
        </ul>
        <div style="opacity:0.5;position:absolute;left:50px;width:300px;height:150px;background-color:#40B3DF">nothing but test</div>
        <div class="header">
            <div class="header-inner">
                <div class="nav">
                    GKDmovies
                </div>
            </div>
        </div>
        <p>this is a paragragh</p>
    </body>
</html>