{% extends "base.html" %}

{% block context %}
<style>
	.d1 {
		background: #DABB52;
		display: inline-block;
        margin-top: 200px;
        margin-left: 200px;
        position: relative;
	}
	.d1 input, .d1 button {
		border: none;
		outline: none;
		border-radius: 3px;
	}
	.d1 input {
		width: 400px;
		height: 50px;
		background: #F9F0DA;
		padding-left: 15px;
	}
	.d1 button {
		position: relative;
		height: 50px;
		width: 75px;
		background: #F15B42;
		cursor: pointer;
	}
	.d1 button:before {
		font-family: FontAwesome;
		position: absolute;
		top: 0px;
		right: 0px;
		color: #F9F0DA;
		font-size: 20px;
		font-weight: bold;
	}
</style>
<form method="get" action="/search/">
	{% csrf_token %}
	<div class='d1'>
    	<button type="submit" name="submit">搜索</button>
    	<input type="text" placeholder="search" name="index">
	</div>
	</br>
	<div>
		<label><input name="state" type="radio" value="all" checked />全部 </label>
		<label><input name="state" type="radio" value="movie" />电影 </label>
		<label><input name="state" type="radio" value="person" />演员/导演 </label>
	</div>
	</br>
	</body>
</form>

{% endblock context %}