<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>GKD电影</title>
        <meta name="author" content="hwh">
        <link rel="stylesheet" href="wing.css" type="text/css" />
    </head>
    <body>
        <ul>
            <li><a href="">主页</a></li>
            <li><a href="#news">电影</a></li>
            <li><a href="#contact">演员</a></li>
            <li><a href="#about">导演</a></li>
            <button >search</button>
        </ul>
        <p></p>
    </body>
</html>