{% extends "base.html" %}

{% block context %}
<form method="get" action="/check/">
    {% csrf_token %}
	</br><input type="text" placeholder="user" name="user" style="height:25px;width:150px;position:relative;top:100px;left:500px;">
	</br><input type="password" placeholder="password" name="password" style="height:25px;width:150px;position:relative;top:120px;left:500px;">
    </br><button type="submit" name="submit" style="height:30px;width:50px;position:relative;top:140px;left:-740px;">login</button>
	</br><button type="submit" name="submit" style="height:30px;width:50px;position:relative;top:120px;left:-600px;text-decoration:none;"><a href="/register">register</a></button>
    </br><div><span style="height:25px;width:50px;position:relative;top:180px;left:500px;color:red;">{{ message }}</div>   
    {% if success %}
        <meta http-equiv="refresh" content="1; url='/'"> 
    {% endif %}      
</form>
{% endblock context %}