{% extends "base.html" %}

{% block context %}
<form method="get" action="/check/">
    {% csrf_token %}
	</br><input type="text" placeholder="user" name="user" style="height:25px;width:150px;position:relative;top:100px;left:500px;">
	</br><input type="password" placeholder="password" name="password" style="height:25px;width:150px;position:relative;top:120px;left:500px;">
    </br><button type="submit" name="submit" style="height:30px;width:50px;position:relative;top:130px;left:-740px;font-size:20px">login</button>
	</br><div><span style="height:25px;width:150px;position:relative;top:132px;left:580px;font-size:20px"><a href="/register" style="text-decoration:none;color:rgb(13,20,78);">register</a></div> 
    </br><div><span style="height:25px;width:50px;position:relative;top:140px;left:515px;color:red;">{{ message }}</div>   
    {% if success %}
        <meta http-equiv="refresh" content="1; url='/'"> 
    {% endif %}      
</form>
{% endblock context %}