{% extends "base.html" %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% block css %}
  {% load staticfiles %}
  <link rel="stylesheet" media="screen" type="text/css" href="{% static 'css/movie.css' %}">
{% endblock css %}

{% block search %}
    <form method="get" action="/search/">
        {% csrf_token %}
        <div class="search">
            <input type="text" placeholder="search" name="index" style="height:20px;width:120px">
            <button type="submit" name="submit" style="height:20px;width:50px;color:white">搜索</button>
        </div>
    </form>
{% endblock search %}

{% block context %}

{% csrf_token %}
<form action="/movie/?movie_name" method="get"> 
    <div id='wrapper'>
        <h1>{{movie.movie_name}}</h1>
        <div id='headline'>
            <div class='pic'>
                <img src="/static/media/{{movie.photo}}">
            </div>
            <div class='info'>
            <ul>
                <li>上映日期： {{movie.movie_date}} </li>
                <li>类型：{{movie.type}}</li>
                <li>制片国家/地区：{{movie.place}}</li>
                <li>语言：{{movie.language}}</li>
                <li>片长：{{movie.length}}</li>
                <li>又名：{{movie.rename}}</li>
            </ul>
            </div>
        </div>
        <div id='intro'>
            <div class='hd'>
                <h2>剧情简介</h2>
            </div>
            <div class='bd'>
                <span class='short'>{{movie.intro}}</span>
            </div>
        </div>
        <div id='director'>
            <div class='hd'>
                <h2>导演</h2>
            </div>
            <ul class="celebrities-list from-subject __oneline">
            {% for post in director %}
                <div class='attend'>
                    <a href="/person/?name={{post.director_name.name}}" class='cover-link'>
                        <img src="/static/media/{{post.director_name.photo}}" class='cover'>
                    </a>
                <div class='detail'>
                    <div class='title'>
                        <a href="/person/?name={{post.director_name.name}}">{{post.director_name.name}}</a>
                    </div>
                    <div class='info'>
                        性别：  {{post.director_name.gender}}
                    </div>
                    <div class='info'>
                        出生年月：  {{post.director_name.birthdate}}
                    </div>
                    <div class='info'>
                        职业：  {{post.director_name.occupation}}
                    </div>
                </div>
                </div>
            {% empty %}
            <div class="no-post">
                暂无
            </div>
            {% endfor %}
            </ul>
        </div>
        <div id='actor'>
            <div class='hd'>
                <h2>主演</h2>
            </div>
            {% for post in actor %}
                <div class='attend'>
                    <a href="/person/?name={{post.actor_name.name}}" class='cover-link'>
                        <img src="/static/media/{{post.actor_name.photo}}" class='cover'>
                    </a>
                <div class='detail'>
                    <div class='title'>
                        <a href="/person/?name={{post.actor_name.name}}">{{post.actor_name.name}}</a>
                    </div>
                    <div class='info'>
                        性别：  {{post.actor_name.gender}}
                    </div>
                    <div class='info'>
                        出生年月：  {{post.actor_name.birthdate}}
                    </div>
                    <div class='info'>
                        职业：  {{post.actor_name.occupation}}
                    </div>
                </div>
                </div>
            {% empty %}
            <div class="no-post">
                暂无
            </div>
            {% endfor %}
        </div>
        <div id='comment'>
            <div class='hd'>
                <h2>评论区</h2>
            </div>
            <script>
                n5=0;
                n4=0;
                n3=0;
                n2=0;
                n1=0;
            </script>
            {% for post in comment %}
            <div class="comment">
                </br><p>{{post.user_name.user_name}}</p>
                </br><p>{{post.grade}}</p>
                </br><p>{{post.comment}}</p>
                <script>
                    if ({{post.grade}}==5) {n5=n5+1;}
                    if ({{post.grade}}==4) {n4=n4+1;}
                    if ({{post.grade}}==3) {n3=n3+1;}
                    if ({{post.grade}}==2) {n2=n2+1;}
                    if ({{post.grade}}==1) {n1=n1+1;}
                </script>
            </div>
            {% empty %}
            <div class="no-post">
                暂无评论
            </div>
            {% endfor %}
        </div>
        
    </div>
    <div id='chart'>
        <head>
            <meta charset="utf-8"><link rel="icon" href="https://jscdn.com.cn/highcharts/images/favicon.ico">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <style>
                #container {
                position: absolute;
                right: 75px;
                top: 100px;
                width: 350px;
                height: 350px;
                }
            </style>
            <script src="https://img.highcharts.com.cn/highcharts/highcharts.js"></script>
            <script src="https://img.highcharts.com.cn/highcharts/modules/exporting.js"></script>
        </head>
        <body>
            <div id="container" style="min-width:400px;height:400px"></div>
            <script>
                tot=n5+n4+n3+n2+n1;
                tp=n5*5+n4*4+n3*3+n2*2+n1;
                avg=tp/tot;
                <!--document.getElementById("test5");-->
            </script>
        </body>
    </div>
 </form>
    <div id='wrapper'>
    {% if request.session.login %}
        {% if n_exist %}
        <div class='hd'>
            <h2>添加评论</h2>
        </div>
        <form action="/add_comment/",method='get'>
            <label><input name="score" type="radio" value=5 checked />5</label>
            <label><input name="score" type="radio" value=4 />4 </label>
            <label><input name="score" type="radio" value=3 />3 </label>
            <label><input name="score" type="radio" value=2 />2 </label>
            <label><input name="score" type="radio" value=1 />1 </label> 
            </br><textarea rows="10" cols="90" placeholder="请在此输入评论" name="comment"></textarea>
            <input type="text" name="movie_name" style="display:none" value='{{movie.movie_name}}'></input>
            <button type="submit" name="submit" style="border:2px; border-color:black;">提交</button>
        </form>
        {% else %}
        <div class='hd'>
            <h2>修改/删除评论</h2>
        </div>
        <form action="/modify_comment/",method='get'>
            <label><input name="score" type="radio" value=5 checked />5</label>
            <label><input name="score" type="radio" value=4 />4 </label>
            <label><input name="score" type="radio" value=3 />3 </label>
            <label><input name="score" type="radio" value=2 />2 </label>
            <label><input name="score" type="radio" value=1 />1 </label>
            </br><textarea rows="10" cols="90" name="comment">{{uc.comment}}</textarea>
            <input type="text" name="movie_name" style="display:none" value='{{movie.movie_name}}'></input>
            <button type="submit" name="submit" style="border:2px; border-color:black;">修改</button>
        </form>
        <form action="/delete_comment/",method='get'>
            <input type="text" name="movie_name" style="display:none" value='{{movie.movie_name}}'></input>
            <button type="submit" name="submit">删除</button>
        </form>
        {% endif %}
    {% else %}
        <p><span style="color: red;">请先登录！</p>   
    {% endif %} 
    </div>
    

	<script>
	var chart = Highcharts.chart('container', {
	chart: {
		spacing : [40, 0 , 40, 0],
        backgroundColor:"",
	},
	title: {
		floating:true,
		text: '评分\t' + avg.toFixed(2)
	},
	tooltip: {
		pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
	},
	plotOptions: {
		pie: {
			allowPointSelect: true,
			cursor: 'pointer',
			dataLabels: {
				enabled: true,
				format: '<b>{point.name}</b>: {point.percentage:.1f} %',
				style: {
					color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
				}
			},
			point: {
				events: {
					mouseOver: function(e) {  
						chart.setTitle({
							text: '评分\t' + avg.toFixed(2)
						});
					}
				}
			},
		}
	},
	series: [{
		type: 'pie',
		innerSize: '80%',
		name: '人数',
		data: [
			['5分',   n5],
			['4分',   n4],
			['3分',   n3],
			['2分',   n2],
			['1分',   n1]
		]
	}]
}, function(c) { // 图表初始化完毕后的会掉函数
	// 环形图圆心
	var centerY = c.series[0].center[1],
		titleHeight = parseInt(c.title.styles.fontSize);
	// 动态设置标题位置
	c.setTitle({
		y:centerY + titleHeight/2
	});
});
</script>


    
{% endblock context %}
