{% extends "base.html" %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% block context %}

{% csrf_token %}

	</br><p>{{ movie.movie_name }}</p>
    </br><p>{{ movie.synopsis }}</p>
    <!--<p>{{ movie.photo }}</p>-->
    
    {% for post in director %}
    <div>
        </br><a href="/director/?director_name={{post.director_name}}">{{director.director_name}}</a>
    </div>
    {% empty %}
    <div class="no-post">
        没有搜索到符合条件的文章
    </div>
    {% endfor %}
    
    {% for post in actor %}
    <div>
        </br><a href="/actor/?actor_name={{post.actor_name}}">{{post.actor_name}}</a>
    </div>
    {% empty %}
    <div class="no-post">
        没有搜索到符合条件的文章
    </div>
    {% endfor %}
    
    {% for post in comment %}
    <div>
        </br><p>{{post.user_name.user_name}}</p>
        </br><p>{{post.grade}}</p>
        </br><p>{{post.comment}}</p>
    </div>
    {% empty %}
    <div class="no-post">
        没有搜索到符合条件的文章
    </div>
    {% endfor %}
   
    {% if request.session.login %}
        <!--<label><input name="score" type="radio" value=5 checked />5</label>
        <label><input name="score" type="radio" value=4 />4 </label>
        <label><input name="score" type="radio" value=3 />3 </label>
        <label><input name="score" type="radio" value=2 />2 </label>
        <label><input name="score" type="radio" value=1 />1 </label>    -->
        {% if n_exist %}
        <form action="/add_comment/",method='get'>
            <label><input name="score" type="radio" value=5 checked />5</label>
            <label><input name="score" type="radio" value=4 />4 </label>
            <label><input name="score" type="radio" value=3 />3 </label>
            <label><input name="score" type="radio" value=2 />2 </label>
            <label><input name="score" type="radio" value=1 />1 </label> 
            </br><textarea rows="10" cols="30" placeholder="请在此输入评论" name="comment"></textarea>
            <input type="text" name="movie_name" style="display:none" value={{movie.movie_name}}></input>
            <button type="submit" name="submit">提交</button>
        </form>
        {% else %}
        <form action="/modify_comment/",method='get'>
            <label><input name="score" type="radio" value=5 checked />5</label>
            <label><input name="score" type="radio" value=4 />4 </label>
            <label><input name="score" type="radio" value=3 />3 </label>
            <label><input name="score" type="radio" value=2 />2 </label>
            <label><input name="score" type="radio" value=1 />1 </label>
            </br><textarea rows="10" cols="30" name="comment">{{uc.comment}}</textarea>
            <input type="text" name="movie_name" style="display:none" value={{movie.movie_name}}></input>
            <button type="submit" name="submit">修改</button>
        </form>
        <form action="/delete_comment/",method='get'>
            <input type="text" name="movie_name" style="display:none" value={{movie.movie_name}}></input>
            <button type="submit" name="submit">删除</button>
        </form>
        {% endif %}
    {% else %}
        <p><span style="color: red;">请先登录！</p>   
    {% endif %}

<form action="/movie/?movie_name" method="get">    
</form>

{% endblock context %}
