{% extends "base.html" %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% block css %}
  {% load staticfiles %}
  <link rel="stylesheet" media="screen" type="text/css" href="{% static 'css/actor.css' %}">
{% endblock css %}

{% block context %}
<form action="/person/?name" method="get">
    <div id='wrapper'>
        <h1>{{person.name}}</h1>
        <div id='headline'>
            <div class='pic'>
                <img src="/static/media/{{person.photo}}">
            </div>
            <div class='info'>
            <ul>
                <li>性别： {{person.gender}} </li>
            </ul>
            </div>
        </div>
        <div id='intro'>
            <div class='hd'>
                <h2>演员介绍</h2>
            </div>
            <div class='bd'>
                <span class='short'>{{person.intro}}</span>
            </div>
        </div>
        <div id='movies'>
            <p>参演电影</p>
            {% for post in movie %}
            <div>
                </br><a href="/movie/?movie_name={{post.movie_name}}">{{post.movie_name}}</a>
            </div>
            {% empty %}
            <div class="no-post">
                没有搜索到符合条件的文章
            </div>
        </div>
        {% endfor %}
    </div>

</form>

{% endblock context %}
