{% extends "base.html" %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% block css %}
  {% load staticfiles %}
  <link rel="stylesheet" media="screen" type="text/css" href="{% static 'css/person.css' %}">
{% endblock css %}

{% block search %}
    <form method="get" action="/search/">
        {% csrf_token %}
        <input type="text" placeholder="search" name="index">
        <button type="submit" name="submit">搜索</button>
    </form>
{% endblock search %}

{% block context %}
<form action="/person/?name" method="get">
    <div id='wrapper'>
        <h1>{{person.name}}</h1>
        <div id='headline'>
            <div class='pic'>
                <img src="/static/media/{{person.photo}}">
            </div>
            <div class='info'>
            <ul>
                <li>性别： {{person.gender}} </li>
                <li>出生日期：{{person.birthdate}}</li>
                <li>星座：{{person.constellation}}</li>
                <li>籍贯：{{person.birthplace}}</li>
                <li>职业：{{person.occupation}}</li>
            </ul>
            </div>
        </div>
        <div id='intro'>
            <div class='hd'>
                <h2>演员介绍</h2>
            </div>
            <div class='bd'>
                <span class='short'>{{person.intro}}</span>
            </div>
        </div>
        <div id='movie_d'>
            <div class='hd'>
                <h2>指导电影</h2>
            </div>
            {% for post in movie_d %}
            <div>
                </br><a href="/movie/?movie_name={{post.movie_name.movie_name}}">{{post.movie_name.movie_name}}</a>
            </div>
            {% empty %}
            <div class="no-post">
                暂无
            </div>
            {% endfor %}
        </div>
        <div id='movie_a'>
            <div class='hd'>
                <h2>参演电影</h2>
            </div>
            {% for post in movie_a %}
                <div class="attend">
                    <a href="/movie/?movie_name={{post.movie_name.movie_name}}" class='cover-link'>
                        <img src="/static/media/{{post.movie_name.photo}}" class='cover'>
                    </a>
                    <div class='detail'>
                        <div class='title'>
                            <a href="/movie/?movie_name={{post.movie_name.movie_name}}">{{post.movie_name.movie_name}}</a>
                        </div>
                        <div class='info'>
                            地方：  {{post.movie_name.place}}
                        </div>
                        <div class='info'>
                            片长：  {{post.movie_name.length}}
                        </div>
                    </div>
                </div>
            {% empty %}
            <div class="no-post">
                暂无
            </div>
            {% endfor %}
        </div>
    </div>
</form>

{% endblock context %}
