{% extends "base.html" %}

{% block context %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% block css %}
  {% load staticfiles %}
  <link rel="stylesheet" media="screen" type="text/css" href="{% static 'css/person.css' %}">
{% endblock css %}

<form action="/modify/" method="get"> 
{% csrf_token %}
    <div id='wrapper'>
        <h1>{{user.user_name}}</h1>
        <div id='headline'>
            <div class='pic'>
                <img src="/static/media/{{user.user_photo}}">
            </div>
            <div class='info'>
            <ul>
                <li>个性签名： {{user.signature}} </li>
            </ul>
            </div>
            <button type="submit" name="submit" style="height:30px;width:200px;position:relative;top:170px;left:-445px;font-size:20px">修改个人信息</button>
        </div>
    </div>
</form>

{% endblock context %}
